<%# <%= render "layouts/navbar" %>

<h1>Edit Podcast</h1>
<%= render "podcasts/form" %>

<li><%= link_to "All Podcasts", podcasts_path %></li>
<li><%= link_to "Podcast", podcast_path(@podcast) %></li>
